
.nav {
  -webkit-box-shadow: 0 2px 2px 0 rgba(194,194,194,1);
  -moz-box-shadow: 0 2px 2px 0 rgba(194,194,194,1);
  box-shadow: 0 2px 2px 0 rgba(194,194,194,1);
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background: #ffffff;
  height: 50px;
  margin-bottom: 50px;
  width: 100%;
}

.nav li {
  display: inline;
}

.nav a {
  line-height: 50px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}
