.article__title {
  font-size: 28px;
  padding: 20px;
}

.article__subTitle {
  font-size: 24px;
  padding: 20px;
}

.article__section1 {
  padding: 20px;
}

.article__section2 {
  padding: 20px;
}

.article__section3 {
  padding: 20px;
}
