.ArticleHero--img {
  height: 300px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0;
  animation: fadeIn 1s ease both, slideUp 1.5s ease both;
}
