.ArticleHero--img {
  height: 60vw;
  max-height: 500px;
  width: 100%;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0; //animation: fadeIn 1s ease both, slideUp 1.5s ease both;
  animation: fadeIn 1s ease both;
}
