.List {
  &--FeaturedSquare {
    max-width: 90%;
    width: 1000px;
    margin: 0 auto;
    background: orange;
  }

  &--BrowseList {
    width: 50%;
    margin: 0 auto;
    background: blue;
  }
}

.scrollUp--Container {
  animation: slideUp 1.5s ease both;
}
