.List {
  &--FeaturedSquare {
    max-width: 90%;
    width: 1000px;
    margin: 0 auto;
    background: orange;
  }

  &--BrowseList {
    width: 50%;
    margin: 0 auto;
    background: blue;
  }
}

.scrollUp--Container {
  animation: scrollUp 1.8s ease both;
}
@keyframes scrollUp {
  from {
    transform: translate3d(0, 10%, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
